In [1]:
import re
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer, PorterStemmer
import spacy
nlp = spacy.load('en_core_web_lg')

In [2]:
from tqdm import tqdm

### Data Load

In [3]:
df = pd.read_csv('IMDB/dataset/spacy-pre-sum_syn.csv')

In [4]:
df

,movie_id,user_id,is_spoiler,review,summary,synopsis
0,tt0111161,ur0842118,True,shawshank redempt without doubt one brilliant ...,chronicl experi former success banker prison g...,andi said larg black stone meanwhil remain ste...
1,tt0111161,ur6574726,True,fan long ever time life hit downward spiral al...,chronicl experi former success banker prison g...,andi said larg black stone meanwhil remain ste...
2,tt0111161,ur31182745,True,made account rate heard someon tim robin done ...,chronicl experi former success banker prison g...,andi said larg black stone meanwhil remain ste...
3,tt0111161,ur9871443,True,friend mine list shawshank redempt one time fa...,chronicl experi former success banker prison g...,andi said larg black stone meanwhil remain ste...
4,tt0111161,ur23169472,True,tell truth speechless young fanat fact film ca...,chronicl experi former success banker prison g...,andi said larg black stone meanwhil remain ste...
...,...,...,...,...,...,...
257274,tt0139239,ur0415521,False,type one ordinarili see howev becom acquaint a...,told three perspect stori bunch young californ...,ronna lie motionless storyearli recruit cover ...
257275,tt0139239,ur0100166,False,go wise fast pure entertain assembl except cas...,told three perspect stori bunch young californ...,ronna lie motionless storyearli recruit cover ...
257276,tt0139239,ur0021767,False,well shall say fun rate three plotlin origin o...,told three perspect stori bunch young californ...,ronna lie motionless storyearli recruit cover ...
257277,tt0139239,ur0349105,False,call teenag version pulp fiction whatev pleas ...,told three perspect stori bunch young californ...,ronna lie motionless storyearli recruit cover ...
257278,tt0139239,ur0156431,False,made doubt sucker mtv faith care anyth exterio...,told three perspect stori bunch young californ...,ronna lie motionless storyearli recruit cover ...

In [5]:
df['review'].replace('', np.nan, inplace=True)
df.dropna(subset=['review'], inplace=True)

df['summary'].replace('', np.nan, inplace=True)
df.dropna(subset=['summary'], inplace=True)


df['synopsis'].replace('', np.nan, inplace=True)
df.dropna(subset=['synopsis'], inplace=True)

In [6]:
df_1 = df.iloc[1:150000]
df_2 = df.iloc[150000:]

In [7]:
df_1

,movie_id,user_id,is_spoiler,review,summary,synopsis
1,tt0111161,ur6574726,True,fan long ever time life hit downward spiral al...,chronicl experi former success banker prison g...,andi said larg black stone meanwhil remain ste...
2,tt0111161,ur31182745,True,made account rate heard someon tim robin done ...,chronicl experi former success banker prison g...,andi said larg black stone meanwhil remain ste...
3,tt0111161,ur9871443,True,friend mine list shawshank redempt one time fa...,chronicl experi former success banker prison g...,andi said larg black stone meanwhil remain ste...
4,tt0111161,ur23169472,True,tell truth speechless young fanat fact film ca...,chronicl experi former success banker prison g...,andi said larg black stone meanwhil remain ste...
5,tt0111161,ur34426359,True,wow film babi one brilliant ever written man l...,chronicl experi former success banker prison g...,andi said larg black stone meanwhil remain ste...
...,...,...,...,...,...,...
149995,tt0259446,ur0470000,False,plod romant comedi pace spark whatsoev begrudg...,toula portokalo greek work famili restaur danc...,gus start invit greek men dinner toula part so...
149996,tt0259446,ur1630682,False,see love greek cultur made high spirit saw mom...,toula portokalo greek work famili restaur danc...,gus start invit greek men dinner toula part so...
149997,tt0259446,ur0599255,False,let face put titl recept critic thought adam s...,toula portokalo greek work famili restaur danc...,gus start invit greek men dinner toula part so...
149998,tt0259446,ur1923367,False,partner saw big fat greek wed local know expec...,toula portokalo greek work famili restaur danc...,gus start invit greek men dinner toula part so...
149999,tt0259446,ur0664492,False,greek woman nia vardalo thirti decid marri man...,toula portokalo greek work famili restaur danc...,gus start invit greek men dinner toula part so...

In [8]:
similarityValue = []

for i in tqdm(range(df_1.count()[0])):
    sentence_1 = nlp(df_1.iloc[i][3])
    sentence_2 = nlp(df_1.iloc[i][4])
    similarityValue.append(sentence_1.similarity(sentence_2))

df_1['summary_sim'] = similarityValue

 12%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ                                                                  | 18182/149999 [04:01<28:50, 76.18it/s]C:\Users\User\anaconda3\envs\juunho\lib\site-packages\ipykernel_launcher.py:6: UserWarning: [W008] Evaluating Doc.similarity based on empty vectors.

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 149999/149999 [34:47<00:00, 71.85it/s]
C:\Users\User\anaconda3\envs\juunho\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [9]:
similarityValue = []

for i in tqdm(range(df_2.count()[0])):
    sentence_1 = nlp(df_2.iloc[i][3])
    sentence_2 = nlp(df_2.iloc[i][4])
    similarityValue.append(sentence_1.similarity(sentence_2))

df_2['summary_sim'] = similarityValue

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 107278/107278 [25:17<00:00, 70.70it/s]
C:\Users\User\anaconda3\envs\juunho\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
# review - synopsis similarity (1)
similarityValue = []

for i in tqdm(range(df_1.count()[0])):
    sentence_1 = nlp(df_1.iloc[i][3])
    sentence_2 = nlp(df_1.iloc[i][5])
    similarityValue.append(sentence_1.similarity(sentence_2))

df_1['synopsis_sim'] = similarityValue

 12%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Š                                                                | 18184/149999 [12:51<1:12:27, 30.32it/s]C:\Users\User\anaconda3\envs\juunho\lib\site-packages\ipykernel_launcher.py:7: UserWarning: [W008] Evaluating Doc.similarity based on empty vectors.
  import sys
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 149999/149999 [1:27:19<00:00, 28.63it/s]
C:\Users\User\anaconda3\envs\juunho\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [11]:
# review - synopsis similarity (2)
similarityValue = []

for i in tqdm(range(df_2.count()[0])):
    sentence_1 = nlp(df_2.iloc[i][3])
    sentence_2 = nlp(df_2.iloc[i][4])
    similarityValue.append(sentence_1.similarity(sentence_2))

df_2['synopsis_sim'] = similarityValue

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 107278/107278 [25:13<00:00, 70.86it/s]
C:\Users\User\anaconda3\envs\juunho\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [12]:
df_1.to_csv('IMDB/dataset/sim1-spacy-pre-unq.csv', index= False)

In [13]:
df_2.to_csv('IMDB/dataset/sim2-spacy-pre-unq.csv', index= False)